@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.page-main {
    @apply pl-[13px]
    flex
    flex-col
    items-center
    justify-center
    min-h-screen
    py-10;
}

.page-title {
    @apply text-purple
    font-bold;
}

.small-card {
    @apply w-11/12
    max-w-[266px]
    shadow-lg
    min-h-[100px]
    px-[20px]
    py-[15px]
    m-5;
}

.input-container {
    @apply w-full
    mb-[17px]
    flex
    flex-col;
}

label {
    @apply text-xs
    font-normal
    text-purple;
}

input {
    @apply border-[1px]
    rounded-sm
    p-2
    text-purple
    outline-purple;
}
